html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 61px;
  color: #501EA2;
  letter-spacing: 3px;
  line-height: 1.5;
}

h2 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #501EA2;
  letter-spacing: 2px;
}

/* process section */
h3 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 39px;
  color: black;
  letter-spacing: 0.5px;
}

/* section header */
h4 {
  font-family: 'Sansita', sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 2;
  text-decoration: none;
  color: #501EA2;
}

/* survey highlights */
h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 49px;
  text-decoration: none;
  color: #ED7979;
  font-weight: 300;
}

/* captions */
h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #7BABCA;
}

/* links */
h7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
  color: #ED7979;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
}

/* hero and navbar */

.nav-intro {
  display: grid;
  grid-template-areas:
  "logo"
  "nav-pages"
  "hero-image"
  "matter-summary";
}

.logo img {
  grid-area: container;
}

.hero-image img {
  grid-area: container;
}

@media (min-width: 768px){
  .nav-intro {
    grid-template-columns: 5fr 7fr;
    column-gap: 20px;
  }
}

@media {
.logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding: 58px 0 0 120px;
    z-index: 1;
  }
}

@media {
.nav-pages {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    text-align: right;
    padding: 90px 120px 0px 0;
  }
}

@media {
.hero-image {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.matter-summary {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media {
.intro-bg {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }
}

.nav-pages li {
  display: inline;
  margin-left: 10%;
}

.nav-pages li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #ED7979;
}

.matter-summary a {
  text-decoration-color: #ED7979;
}

.matter-summary p {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* problem solution */
.probsol {
  display: grid;
  grid-template-areas:
  "problem"
  "solution";
}
@media (min-width: 768px){
  .probsol {
    grid-template-columns: 6fr 6fr;
    column-gap: 20px;
    margin: 20px 0 150px;
    padding: 50px 120px 50px;
    background-color: #FBF8F5;
  }
}

@media {
.problem {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding: 0 39px 0;
  }
}

@media {
.solution {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    padding: 0 39px 0;
  }
}

.research-title {
  text-align: center;
  border-top: 1px solid #FA7A72;
  margin: 0 43% 0;
}

/* competitive analysis */
.comp-analysis {
  margin: 50px 120px 0;
  display: grid;
  grid-template-areas:
  "comp-one"
  "comp-two";
}

@media (min-width: 768px){
  .comp-analysis {
    grid-template-columns: 6fr 6fr;
    column-gap: 20px;
  }
}

@media {
.comp-one {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding: 45px 102px 0 0;
  }
}

@media {
.comp-two {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    padding: 45px 102px 0 0;
  }
}

/* surveys */
.surveys {
  margin-top: 50px;
  padding: 50px 120px 50px;
  background-color: #FBF8F5;
  display: grid;
  grid-template-areas:
  "title"
  "survey-one"
  "survey-two"
  "survey-three";
}

@media (min-width: 768px){
  .surveys {
    grid-template-columns: 4fr 4fr 4fr;
    column-gap: 20px;
  }
}

@media {
.title {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.survey-one {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    margin: 70px 0 0;
  }
}

@media {
.survey-two {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    margin: 70px 0 0;
  }
}

@media {
.survey-three {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    margin: 70px 0 0;
  }
}

.surveys p {
  padding-top: 15px;
}

/* user personas */
.persona-avatar img {
  grid-area: container;
  width: 100%;
}

.personas {
  display: grid;
  grid-template-areas:
  "title"
  "summary"
  "persona-one"
  "persona-two"
  "persona-three"
  "persona-findings";
}

@media (min-width: 768px){
  .personas {
    grid-template-columns: 2fr 2fr 2fr 6fr;
    column-gap: 20px;
    margin: 50px 120px 50px;
  }
}

@media {
.title {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.summary {
    grid-column: 1 / span 3;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding-top: 60px;
  }
}

@media {
.persona-one {
    grid-column: 1;
    grid-row: 2;
    justify-self: left;
    align-self: left;
    text-align: center;
    margin-top: 30px;
    background-color: #E6D2CF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
  }
}

@media {
.persona-two {
    grid-column: 2;
    grid-row: 2;
    justify-self: center
    align-self: center;
    text-align: center;
    margin-top: 30px;
    background-color: #E6D2CF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
  }
}

@media {
.persona-three {
    grid-column: 3;
    grid-row: 2;
    justify-self: right;
    align-self: right;
    text-align: center;
    margin-top: 30px;
    background-color: #E6D2CF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
  }
}

@media {
.persona-findings {
    grid-column: 4;
    grid-row: 2;
    justify-self: right;
    align-self: right;
    padding: 100px 0 70px 20px;
  }
}

.persona-name, .persona-quote {
  padding: 0 7px 25px;
}

.persona-name {
  font-weight: 600;
}

.persona-quote {
  padding-bottom: 15px;
  font-style: italic;
}

.info-arch {
  text-align: center;
  border-top: 1px solid #FA7A72;
  margin: 150px 33% 50px;
}

/* user flows */
.flows {
  background-image: url(../assets/flows.png);
  background-size: cover;
}

.flows {
  display: grid;
  grid-template-areas:
  "flow-copy";
}

.flow-copy {
    justify-self: left;
    align-self: left;
    margin: 100px 120px 250px 600px;
    padding: 30px 40px 30px;
    background-color: #FBF8F5;
    border: 20px solid white;
  }
}

.flow-summary {
  margin-top: 10px;
}

/* wireframe intro */
.wf-copy {
  display: grid;
  grid-template-areas:
  "wf-copy"
  "wf-summary"
  "wireframes";
}

@media (min-width: 768px){
  .wf-copy {
    grid-template-columns: 2fr 2fr 2fr 6fr;
    column-gap: 20px;
    margin: 100px 0 50px;
  }
}

@media {
.wf-title {
    grid-column: 1 / span 4;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    margin-left: 120px;
  }
}

@media {
.wf-summary {
    grid-column: 1 / span 3;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding-top: 60px;
    margin-left: 120px;
  }
}

@media {
.wireframes {
    grid-column: 1 / span 4;
    grid-row: 3;
    background-image: url(../assets/wireframe.png);
    background-size: cover;
    padding: 300px 0 300px;
    margin-top: 30px;
  }
}

/* wireframe iterations */
.wf-iterations {
  display: grid;
  grid-template-areas:
  "wf-finding"
  "wf-one"
  "wf-two"
  "wf-cap-one"
  "wf-cap-two";
}

@media (min-width: 768px){
  .wf-iterations {
    grid-template-columns: 4fr 4fr 4fr;
    column-gap: 20px;
    margin: 30px 120px 150px;
  }
}

@media {
.wf-finding {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.wf-one {
    grid-column: 2;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.wf-one-cap {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    padding: 300px 25px 0 0;
    text-align: right;
  }
}

@media {
.wf-two {
    grid-column: 3;
    grid-row: 1;
    justify-self: right;
    align-self: right;
  }
}

@media {
.wf-two-cap {
    grid-column: 3;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    padding: 300px 25px 0 0;
    text-align: right;
  }
}

 /* branding title */
.branding-title {
  text-align: center;
  border-top: 1px solid #FA7A72;
  margin: 0 39% 0;
}

.branding-sum {
  text-align: center;
  margin: 50px 450px 0;
}

/* brainstorm */
.brainstorming {
  display: grid;
  grid-template-areas:
  "mm-image"
  "mindmap-copy"
}

@media (min-width: 768px){
  .brainstorming {
    grid-template-columns: 4fr 8fr;
    margin: 50px 0 20px;
  }
}

@media {
.mm-image {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    background-image: url(../assets/mindmap2.png);
    padding: 0 300px 0;
  }
}

@media {
.mindmap-copy {
    grid-column: 2;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding: 210px 150px 210px;
    background-color: #FBF8F5;
  }
}

/* logo */
.logo-sketches {
  background-image: url(../assets/logo-sketches.png);
  background-size: cover;
}

.logo-sketches {
  display: grid;
  grid-template-areas:
  "logo-copy";
}

.logo-copy {
    justify-self: left;
    align-self: left;
    margin: 0 120px 250px 600px;
    padding: 30px 40px 30px;
    background-color: #FBF8F5;
    border: 20px solid white;
    border-top: 0px;
  }
}

.logo-text {
  text-align: center;
  margin: 0 50% 0;
}

.logo-options {
  display: grid;
  grid-template-areas:
  "logo-one"
  "logo-two"
  "logo-three"
  "final-logo";
}

@media (min-width: 768px){
  .logo-options {
    grid-template-columns: 2.5fr 2.5fr 2.5fr 4.5fr;
    column-gap: 20px;
    margin-top: 20px;
    padding: 50px 120px 50px;
  }
}

@media {
.logo-one {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    margin-top: 50px;
  }
}

@media {
.logo-two {
    grid-column: 2;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    margin-top: 50px;
  }
}

@media {
.logo-three {
    grid-column: 3;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    margin-top: 50px;
  }
}

@media {
.final-logo {
    grid-column: 4;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    margin-top: 90px;
  }
}

/* color */
.color {
  display: grid;
  grid-template-areas:
  "color-copy"
  "color-swatches";
}

@media (min-width: 768px){
  .color {
    grid-template-columns: 5fr 7fr;
    column-gap: 20px;
    padding: 50px 120px 50px;
    background-color: #FBF8F5;
  }
}

@media {
.color-copy {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.color-swatches {
    grid-column: 2;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding: 18% 0 12% 15%;
  }
}

.color-copy p {
  margin: 20px 0 20px;
}


/* type */
.type {
  display: grid;
  grid-template-areas:
  "type-copy"
  "brand-typeface"
  "supplementay-typeface";
}

@media (min-width: 768px){
  .type {
    grid-template-columns: 6fr 2fr 4fr;
    column-gap: 20px;
    padding: 50px 120px 50px;
    margin-bottom: 100px;
  }
}

@media {
.type-copy {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.brand-typeface {
    grid-column: 3;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding-top: 50px;
  }
}

@media {
.supplementary-typeface {
    grid-column: 3;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding-top: 180px;
  }
}

.type-copy p {
  padding-top: 8px;
}

.typeface-name {
  padding-bottom: 8px;
}

.brand-typeface p {
  line-height: 1.3em;
  font: Oxygen;
}

.supplementary-typeface p {
  line-height: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
}

/* high fidelity mockups */
.hifi h3 {
  text-align: center;
  border-top: 1px solid #FA7A72;
  margin: 0 530px 50px;
}

.hifi p {
  text-align: center;
  margin: 0 450px 50px;
}

.pref-intro {
  margin: 50px 0 0 120px;
  max-width: 600px;
}

.test-num {
  font-weight: 600;
  line-height: 1em;
  margin-top: 50px;
}

.test-name {

  font-size: 14px;
  font-weight: 600;
  color: #ED7979;
  line-height: 1em;
}

.pref-tests {
  display: grid;
  grid-template-areas:
  "title-info"
  "test-img1"
  "test-img2"
  "test-result";
}

@media (min-width: 768px){
  .pref-tests {
    grid-template-columns: 2fr 4fr 4fr 2fr;
    column-gap: 20px;
    padding: 50px 120px 50px;
    margin-bottom: 100px;
  }
}

/* pref test 1 */

@media {
.title-info {
    grid-column: 2 / span 2;
    grid-row: 1;
    text-align: center;
    padding-top: 10px;
    align-content: center;
    text-align: center;
  }
}

@media {
.test-img1 {
    grid-column: 2;
    grid-row: 2;
    justify-self: left;
    align-self: left;
    padding-top: 10px;
  }
}

@media {
.test-img2 {
    grid-column: 3;
    grid-row: 2;
    justify-self: left;
    align-self: left;
    padding-top: 17px;
  }
}

@media {
.test-result {
    grid-column: 2 / span 2;
    grid-row: 3;
    justify-self: left;
    align-self: left;
    text-align: center;
    margin-top: 20px;
    padding: 0 150px 0;
  }
}

/* pref test 2 */

@media {
.title-info2 {
    grid-column: 2 / span 2;
    grid-row: 4;
    text-align: center;
    padding-top: 10px;
    align-content: center;
    text-align: center;
  }
}

@media {
.test2-img1 {
    grid-column: 2;
    grid-row: 5;
    justify-self: left;
    align-self: left;
    padding-top: 10px;
  }
}

@media {
.test2-img2 {
    grid-column: 3;
    grid-row: 5;
    justify-self: left;
    align-self: left;
    padding-top: 17px;
  }
}

@media {
.test2-result {
    grid-column: 2 / span 2;
    grid-row: 6;
    justify-self: left;
    align-self: left;
    text-align: center;
    margin-top: 20px;
    padding: 0 150px 0;
  }
}

/* test 3 */

@media {
.title-info3 {
    grid-column: 2 / span 2;
    grid-row: 7;
    text-align: center;
    padding-top: 10px;
    align-content: center;
    text-align: center;
  }
}

@media {
.test3-img1 {
    grid-column: 2;
    grid-row: 8;
    justify-self: left;
    align-self: left;
    padding-top: 10px;
  }
}

@media {
.test3-img2 {
    grid-column: 3;
    grid-row: 8;
    justify-self: left;
    align-self: left;
    padding-top: 17px;
  }
}

@media {
.test3-result {
    grid-column: 2 / span 2;
    grid-row: 9;
    justify-self: left;
    align-self: left;
    text-align: center;
    margin-top: 20px;
    padding: 0 150px 0;
  }
}
