html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 61px;
  color: #008583;
  letter-spacing: 3px;
  line-height: 1.5;
}

h2 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #008583;
  letter-spacing: 2px;
}

/* process section */
h3 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 39px;
  color: #666666;
  letter-spacing: 0.5px;
}

/* section header */
h4 {
  font-family: 'Sansita', sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 2;
  text-decoration: none;
  color: #008583;
}

/* survey highlights */
h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 39px;
  text-decoration: none;
  color: #7BABCA;
  font-weight: 300;
}

/* captions */
h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #7BABCA;
}

/* links */
h7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
  color: #7BABCA;
}

h8 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1.04%;
  line-height: 1.8em;
  font-weight: 600;
  color: #7BABCA;
}

h9 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
  font-weight: 600;
  background-color: #C8DFED;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
}

/* hero and navbar */

.nav-intro {
  display: grid;
}

.logo img {
  grid-area: container;
}

/* .hero-image img {
object-fit: cover;
} */

.nav-intro {
  display: grid;
  margin-bottom: 10px;
}

.nav-intro {
  grid-template-columns: 4fr 8fr;
  column-gap: 0px;
}

@media (min-width: 768px){
  .nav-intro {
    grid-template-columns: 5fr 7fr;
    column-gap: 20px;
  }
}

@media (min-width: 991px){
  .nav-intro {
    grid-template-columns: 5fr 7fr;
    column-gap: 20px;
  }
}

.logo {
  grid-column: 1;
  grid-row: 1;
  justify-self: left;
  align-self: left;
  margin-top: 40px;
  padding-left: 30px;
  z-index: 1;
}

@media (min-width: 768px) {
  .logo {
    padding-left: 60px;
  }
}

@media (min-width: 991px) {
  .logo {
    padding-left: 120px;
  }
}

.nav-pages {
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-self: right;
  align-self: right;
  text-align: right;
  margin-top: 40px;
  padding-right: 30px;
  width: 300px;
  z-index: 1;
}

@media (min-width: 768px) {
  .nav-pages {
    padding-right: 60px;
    width: 400px;
  }
}

@media (min-width: 991px) {
  .nav-pages {
    padding-right: 120px;
    width: 400px;
  }
}

.hero-image {
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .hero-image {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    padding-left: 60px;
    align-self: end;
    margin-bottom: 50px;
  }
}

@media (min-width: 991px) {
  .hero-image {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    padding-left: 120px;
    padding-right: 0;
  }
}

.proj-summary {
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  padding: 10px 30px 0;
  max-width: 500px;
}

@media (min-width: 768px) {
  .proj-summary {
    grid-column: 2;
    grid-row: 1;
    padding-top: 20%;
    justify-self: center;
    align-self: end;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 991px) {
  .proj-summary {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1150px) {
  .proj-summary {
    justify-self: center;
    align-self: end;
    padding-bottom: 12%;
  }
}

.proj-summary h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}


.intro-bg {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

@media (min-width: 991px) {
  .intro-bg {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }
}

@media (min-width: 376px) {
.nav-pages li {
  display: inline;
  margin-left: 10%;
  padding-bottom: 0;
}
}

@media (max-width: 375px) {
  .nav-pages li {
    display: block;
    padding-bottom: 5%;
  }
}

.nav-pages li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #7BABCA;
  font-weight: 600;
}

.nav-pages li a:hover {
  color: #008583;
  border-bottom: 2px solid #008583;
}

.pro-link {
  max-width: 500px;
  margin: auto;
  justify-self: center;
  align-self: center;
}

/* button */
.proj-summary h7 {
  color: white;
  background-color: #7BABCA;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 30px 0 30px;
  font-weight: 600;
}

.proj-summary h7:hover {
  border: 1px solid #7BABCA;
  color: #7BABCA;
  background-color: white;
}

.pro-link {
  text-align: center;
}

.proj-summary p {
  padding-top: 10px;
}

/* Specifications */
.proj-specs ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
}


.proj-specs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 25px 30px;
  text-align: center;
  margin: 10px;
}

@media (min-width: 768px) {
.proj-specs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  padding: 50px 60px;
  text-align: center;
  margin: 0;
}
}

@media (min-width: 991px) {
  .proj-specs {
    padding: 50px 200px;
  }
}

.roles {
  grid-column: 1;
  grid-row: 1;
}
}

@media (min-width: 768px) {
.roles {
  grid-column: 1;
  grid-row: 1;
}
}

.deliverables {
  grid-column: 1;
  grid-row: 2;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding-top: 10px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
.deliverables {
  grid-column: 2;
  grid-row: 1;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  border-top: none;
  border-bottom: none;
  padding: 0 15px;
}
}

.specifications {
  grid-column: 1;
  grid-row: 3;
  grid-row: 1;
}

@media (min-width: 768px) {
.specifications {
  grid-column: 3;
}
}

.proj-specs h5 {
  padding-bottom: 15px;
}

.tools {
  padding-top: 20px;
}

/* problem solution */

.probsol {
  grid-template-columns: 1fr;
  column-gap: 50px;
  margin: 30px 0 30px;
  padding: 25px 30px 0;
  width: 100%;
}

@media (min-width: 768px){
  .probsol {
    grid-template-columns: 4fr 5fr;
    grid-gap: 0px;
    display: grid;
    padding: 50px 60px;
  }
}

@media (min-width: 991px){
  .probsol {
    padding: 50px 200px;
  }
}


@media (min-width: 768px) {
  .prob-title {
    grid-column: 1;
    grid-row: 1;
    padding-right: 15px;
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .prob-copy {
    grid-column: 2;
    grid-row: 1;
    padding-right: 15px;
    padding-bottom: 80px;
  }
}

  .sol-title {
    padding-top: 60px;
  }

@media (min-width: 768px) {
  .sol-title {
    grid-column: 1;
    grid-row: 2;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .sol-copy {
    grid-column: 2;
    grid-row: 2;
    padding-top: 0;
  }
}


.sol-img {
  padding-top: 30px;
}

@media (min-width: 768px) {
.sol-img {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding-top: 70px;
}
}

.research-title {
  text-align: center;
  border-top: 1px solid #7BABCA;
  margin: auto;
  max-width: 200px;
}

/* competitive analysis */
.comp-analysis {
  margin: 50px 30px 0;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px){
  .comp-analysis {
    grid-template-columns: 4fr 5fr;
    display: grid;
    margin: 50px 60px;
    column-gap: 0px;
  }
}

@media (min-width: 991px){
  .comp-analysis {
    margin: 50px 200px;
  }
}

.comp-title {
  grid-column: 1;
  grid-row: 1;
}

@media (min-width: 768px){
  .comp-title {
    padding-bottom: 30px;
  }
}

@media (min-width: 768px){
  .comp-copy {
    grid-column: 2;
    grid-row: 1;
  }
}

.comp-one {
  padding-top: 20px;
}

.comp-two {
  padding-top: 20px;
}

.comp-three {
  padding-top: 20px;
}

@media (min-width: 768px){
  .comp-two {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (min-width: 768px){
  .comp-three {
    grid-column: 2;
    grid-row: 4;
  }
}

@media (min-width: 768px){
  .comp-one {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 768px){
  .comp-two {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (min-width: 768px){
  .comp-three {
    grid-column: 2;
    grid-row: 4;
  }
}

.comp-one h8 {
  padding: 10px 0;
}

/* surveys */

.surveys {
  grid-template-columns: 1;
  display: grid;
  margin-top: 60px;
  padding: 0px 30px 25px;
}

@media (min-width: 768px){
  .surveys {
    grid-template-columns: 4fr 5fr;
    grid-gap: 0px;
    padding: 50px 60px;
  }
}

@media (min-width: 991px){
  .surveys {
    padding: 50px 200px;
  }
}

.title {
  grid-column: 1;
  grid-row: 1;
}


@media (min-width: 768px){
  .title {
    grid-column: 1;
    grid-row: 1;
  }
}

.survey-sum {
  grid-column: 1;
  grid-row: 2;
}

@media (min-width: 768px){
  .survey-sum {
    grid-column: 2;
    grid-row: 1;
  }
}

.survey-one {
  grid-column: 1;
  grid-row: 3;
  margin: 30px 0 0;
}

.survey-one li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 1.04%;
}

@media (min-width: 768px){
  .survey-one {
    grid-column: 2;
    grid-row: 2;
    margin-top: 50px;
  }
}

.prob-list {
  padding-top: 10px;
  padding-left: 20px;
}

.survey-two {
  grid-column: 1;
  grid-row: 4;
  margin: 30px 0 0;
}

.survey-two li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 1.04%;
}

@media (min-width: 768px){
  .survey-two {
    grid-column: 2;
    grid-row: 3;
    margin-top: 50px;
  }
}

.sol-list {
  padding-top: 10px;
  padding-left: 20px;
}

.surveys p {
  padding-top: 5px;
}

/* persona section layout */
.personas {
  margin: 35px 30px 50px;
  display: grid;
}

@media (min-width: 768px) {
  .personas {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-gap: 0px;
    margin: 50px 30px 50px;
  }
}

@media (min-width: 991px) {
  .personas {
    margin: 50px 200px 50px;
  }
}

.title {
  grid-column: 1;
  grid-row: 1;
  max-width: 500px;
}

.persona-text {
  grid-column: 1;
  grid-row: 2;
  padding-bottom: 30px;
}

@media (min-width: 767px) {
  .persona-text {
    grid-column: 2;
    grid-row: 1;
  }
}


.persona-one {
  grid-column: 1;
  grid-row: 3;
  margin-top: 20px;
}


@media (min-width: 768px) {
  .persona-details {
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    display: grid;
  }
}

@media (min-width: 768px) {
  .persona-one {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .persona-avatar {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (min-width: 768px) {
  .persona-name {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .pgoal-title {
    grid-column: 1;
    grid-row: 3;
    font-weight: bold;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .persona-goal {
    grid-column: 1;
    grid-row: 4;
  }
}


.motivation-title {
  font-weight: bold;
}

@media (min-width: 768px) {
  .motivation-title {
    grid-column: 1;
    grid-row: 5;
    font-weight: bold;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .persona-motivation {
    grid-column: 1;
    grid-row: 6;
  }
}


.frust-title {
  font-weight: bold;
}


@media (min-width: 768px) {
  .frust-title {
    grid-column: 1;
    grid-row: 7;
    font-weight: bold;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .persona-frustration {
    grid-column: 1;
    grid-row: 8;
  }
}

.persona-two {
  grid-column: 1;
  grid-row: 4;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .persona-two {
    max-width: 400px;
    justify-self: center;
    margin-top: 0;
    grid-column: 2;
    grid-row: 1
  }
}

@media (min-width: 767px) {
  .summary {
    display: none;
  }
}

.persona-findings {
  grid-row: 6;
  margin-top: 30px;
  max-width: 500px;
  justify-self: center;
}

@media (min-width: 768px) {
  .persona-findings {
    display: none;
  }
}

@media (min-width: 768px) {
  .persona-one p, .persona-two p, .persona-three p {
    line-height: 1.5;
  }
}

.persona-avatar img {
  border-radius: 5px;
  max-width: 150px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
.persona-avatar img {
  max-width: 200px;
}
}

.persona-quote {
  padding-left: 20px;
}

.persona-name {
  font-weight: 600;
}

.persona-quote {
  font-style: italic;
}

/* user journey */

.user-journeys {
  padding: 10px 30px;
}

@media (min-width: 768px) {
  .user-journeys {
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding: 50px 60px;
  }
}

@media (min-width: 991px) {
  .user-journeys {
    padding: 50px 200px;
  }
}


@media (min-width: 768px) {
  .journey-title {
    grid-column: 1;
    grid-row: 1;
  }
}

.journey-copy{
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .journey-copy {
    grid-column: 2;
    grid-row: 1;
  }
}

@media (min-width: 768px) {
  .scenario-title1 {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .scenario1 {
    grid-column: 2;
    grid-row: 3;
  }
}

p.task-title1 {
  color: black;
  font-weight: bold;
}

p.task-title2 {
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .task-title1 {
    grid-column: 2;
    grid-row: 4;
  }
}

@media (min-width: 768px) {
  .task-list1 {
    grid-column: 2;
    grid-row: 5;
  }
}

.journey-img1 {
  padding-bottom: 10px;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .journey-img1 {
    grid-column: 2;
    grid-row: 6;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .scenario-title2 {
    grid-column: 2;
    grid-row: 7;
  }
}

.scenario2 {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .scenario2 {
    grid-column: 2;
    grid-row: 8;
  }
}

@media (min-width: 768px) {
  .task-title2 {
    grid-column: 2;
    grid-row: 9;
  }
}

@media (min-width: 768px) {
  .task-list2 {
    grid-column: 2;
    grid-row: 10;
  }
}

.journey-img2 {
  padding-bottom: 10px;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .journey-img2 {
    grid-column: 2;
    grid-row: 11;
  }
}

.scenario1, .scenario2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.task-list1 li, .task-list2 li {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
}



/* user flows */

.flows {
  grid-template-columns: 1fr;
  column-gap: 20px;
  display: grid;
  padding: 50px 30px 25px;
}

@media (min-width: 768px) {
  .flows {
    grid-template-columns: 4fr 5fr;
    grid-gap: 0px;
    padding: 50px 60px;
}
}

@media (min-width: 991px) {
  .flows {
    padding: 50px 200px;
  }
}

@media (min-width: 768px) {
  .flow-title {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
  }
}


@media (min-width: 768px) {
  .flow-summary {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    padding-left: 15px;

  }
}

.goal-title{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .goal-title {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    background-color: white;
    padding-left: 15px;
  }
}

.goal-new, .goal-newand, .goal-ret {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
  text-align: center;
}

.new-title, .newand-title, .ret-title {
  font-weight: bold;
  text-align: center;
}

.goal-new, .goal-newand, .goal-ret {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .new-title{
    grid-column: 2;
    grid-row: 3;
    text-align: left;
    background-color: white;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .goal-new {
    grid-column: 2;
    grid-row: 4;
    text-align: left;
    background-color: white;
    padding-left: 35px;
  }
}

@media (min-width: 768px) {
  .newand-title{
    grid-column: 2;
    grid-row: 5;
    text-align: left;
    background-color: white;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .goal-newand{
    grid-column: 2;
    grid-row: 6;
    text-align: left;
    background-color: white;
    padding-left: 35px;
  }
}

@media (min-width: 768px) {
  .ret-title{
    grid-column: 2;
    grid-row: 7;
    text-align: left;
    background-color: white;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .goal-ret {
    grid-column: 2;
    grid-row: 8;
    text-align: left;
    padding-bottom: 0px;
    background-color: white;
    padding-left: 35px;
  }
}

.goal-list li {
  padding-top: 15px;
}

@media (max-width: 767px) {
.flow-cap {
    display: none;
}
}

@media (min-width: 768px) {
.flow-cap {
    grid-column: 2;
    grid-row: 9;
    text-align: left;
    padding-top: 50px;
}
}

@media (max-width: 767px) {
.flow-image {
    display: none;
}
}



@media (min-width: 768px) {
.flow-image {
    grid-column: 2;
    grid-row: 10;
    justify-content: left;
    align-self: left;
    max-width: 600px;
    text-align: left;

}
}

.flow-summary {
  margin-top: 10px;
}

.flow-link h7 {
  border: 1px solid #7BABCA;
  color: #7BABCA;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 40px 0 0;
  font-weight: 600;
}

.flow-link h7:hover {
  color: white;
  background-color: #7BABCA;
}


@media (min-width: 768px) {
.flow-link h7 {
  display: none;
  }
}

.flow-link {
  text-align: center;
  grid-column: 1;
}

@media (max-width: 767px){
.flow-img {
  display: none;
}
}

@media (min-width: 767px){
.flow-img {
  padding-bottom: 50px;
}
}

/* wireframe intro */
.lofi {
  padding: 50px 30px 50px;
}

@media (min-width: 768px) {
  .lofi {
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding: 50px 60px 30px;
  }
}

@media (min-width: 991px) {
  .lofi {
    padding: 50px 200px 30px;
  }
}

@media (min-width: 768px) {
  .wf-title {
    grid-column: 1;
    grid-row: 1;
    max-width: 250px;
    line-height: 24px;
  }
}

@media (min-width: 991px) {
  .wf-title {
    max-width: none;
  }
}

.wf-summary {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .wf-summary {
    grid-column: 2;
    grid-row: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.wf-image {
  padding-bottom: 30px;
}

@media (min-width: 768px){
.wf-image {
  padding-bottom: 30px;
}
}

.wireframes {
  max-width: none;
}

.lofi h8 {
  padding-top: 30px;
}

.frames1, .frames2, .frames3 {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .frames-title1 {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .frames1 {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (min-width: 768px) {
  .frames-title2 {
    grid-column: 2;
    grid-row: 4;
  }
}

@media (min-width: 768px) {
  .frames2 {
    grid-column: 2;
    grid-row: 5;
  }
}

@media (min-width: 768px) {
  .frames-title3{
    grid-column: 2;
    grid-row: 6;
  }
}

@media (min-width: 768px) {
  .frames3 {
    grid-column: 2;
    grid-row: 7;
  }
}


@media (min-width: 768px) {
  .wf-insight {
    grid-column: 2;
    grid-row: 8;
  }
}

.wf-chal1 {
  padding-top: 20px;
}

/* branding title */

@media (min-width: 768px) {
  .branding-intro {
    margin: 50px 60px 0;
    display: grid;
    grid-template-columns: 4fr 5fr;
  }
}

@media (min-width: 991px) {
  .branding-intro {
    margin: 50px 200px 0;
  }
}

.branding-title {
  margin: 0px 30px 0;
}

@media (min-width: 768px) {
  .branding-title {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
  }
}

.branding-sum {
  padding: 0px 30px;
}

@media (min-width: 768px) {
  .branding-sum {
    grid-column: 2;
    grid-row: 1;
    padding: 0;
  }
}

/* brainstorm */
.brainstorming {
  grid-template-columns: 1fr;
  margin: 30px 0 25px;
  display: grid;
}

@media (min-width: 768px){
  .brainstorming {
    grid-template-columns: 4fr 5fr;
    margin: 50px 60px 50px;
  }
}

@media (min-width: 991px){
  .brainstorming {
    margin: 50px 200px 50px;
  }
}

.mm-image {
  grid-column: 1;
  grid-row: 2;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
.mm-image {
    grid-column: 2;
    grid-row: 2;
  }
}

.mindmap-copy {
  grid-column: 1;
  grid-row: 1;
  margin: 0 30px;
}

@media (min-width: 768px) {
.mindmap-copy {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    padding-bottom: 30px;
  }
}

.mindmap-copy p {
  padding-top: 10px;
}

/* logo */
/* .logo-sketches {
background-image: url(../assets/matter/logo-sketches.png);
background-size: contain;
} */

.logo-sketches {
  grid-template-columns: 1fr;
  display: grid;
  padding: 25px 30px 0;
}

@media (min-width: 768px){
  .logo-sketches {
    grid-template-columns: 4fr 5fr;
    padding: 50px 60px;
  }
}

@media (min-width: 991px){
  .logo-sketches {
    padding: 50px 200px;
  }
}

.sketch-image {
  grid-column: 1;
  grid-row: 2;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .sketch-image {
    grid-column: 2;
    grid-row: 2;
  }
}

.logo-copy p {
  padding-top: 10px;
}

.logo-copy {
  grid-column: 1;
  grid-row: 1;
  padding-top: 10px;
}

@media (min-width: 768px) {
.logo-copy {
  grid-column: 2;
  grid-row: 1;
}
}

.logo-it {
  grid-column: 1;
  grid-row: 4;
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .logo-it {
    grid-column: 2;
    grid-row: 3;
    align-self: start;
    max-width: 500px;
    justify-self: center;
  }
}

/* color */
.color {
  grid-template-columns: 1fr;
  column-gap: 20px;
  display: grid;
  padding: 25px 30px 25px;
}

@media (min-width: 768px){
  .color {
    grid-template-columns: 4fr 5fr;
    column-gap: 0;
    padding: 50px 60px;
  }
}

@media (min-width: 991px){
  .color {
    padding: 50px 200px 50px;
  }
}

.color-title {
  grid-column: 1;
  grid-row: 1;
}

@media (min-width: 768px) {
.color-title {
    grid-column: 2;
    grid-row: 1;
  }
}

.color-copy {
  grid-column: 1;
  grid-row: 2;
}

@media (min-width: 768px) {
.color-copy {
    grid-column: 2;
    grid-row: 2;
  }
}

.color-swatches {
  grid-column: 1;
  grid-row: 3;
  padding-top: 30px;
}

@media (min-width: 768px) {
.color-swatches {
    grid-column: 2;
    grid-row: 3;
    padding: 20px 0 0;
    margin: auto;
  }
}

.color-copy p {
  margin: 10px 0 20px;
}


/* type */
.type {
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  display: grid;
  padding: 25px 30px 25px;
}



@media (min-width: 768px) {
  .type {
    grid-template-columns: 4fr 2.5fr 2.5fr;
    column-gap: 0;
    padding: 50px 60px;
  }
}

@media (min-width: 991px) {
  .type {
    padding: 50px 200px;
  }
}

.type-title {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-bottom: 20px;
}


@media (min-width: 768px) {
.type-title {
    grid-column: 2 / span 2;
    grid-row: 1;
    padding-bottom: 30px;
  }
}

.type-copy {
  grid-column: 1 / span 2;
  grid-row: 2;
}

@media (min-width: 768px) {
.type-copy {
    grid-column: 2 / span 2;
    grid-row: 2;
    margin-bottom: 20px;
  }
}

.brand-typeface {
  grid-column: 1;
  grid-row: 3;
  padding-top: 15px;
  max-width: 100px;
  margin: auto;
}

@media (min-width: 768px) {
.brand-typeface {
    grid-column: 2;
    grid-row: 3;
    padding-top: 10px;
    max-width: 100px;
    margin: auto;
  }
}

.supplementary-typeface {
  grid-column: 2;
  grid-row: 3;
  padding-top: 10px;
  max-width: 100px;
  margin: auto;
}

@media (min-width: 768px) {
.supplementary-typeface {
    grid-column: 3;
    grid-row: 3;
    padding-top: 10px;
    max-width: 100px;
    margin: auto;
  }
}

.type-copy p {
  padding-top: 10px;
}

.typeface-name {
  padding-bottom: 2px;
}

.typeface-name {
  font-size: 16px;
  color: #7BABCA;
  font-style: italic;
  text-align: right;
}

.brand-typeface .type-sample {
  line-height: 1.3em;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1.0px;
  font-size: 4em;
  text-align: right;
}

.supplementary-typeface .type-sample {
  line-height: 1.3em;
  font-family: 'Karla', sans-serif;
  letter-spacing: 1.0px;
  font-size: 4em;
  text-align: right;
}

@media (min-width:768px) {
  .type-sample {
    font-size: 20px;
  }
}

@media (min-width:991px) {
  .type-sample {
    font-size: 24px;
  }
}

/* high fidelity mockups */

.hifi {
  margin: 0 30px;
}

@media (min-width: 768px) {
  .hifi {
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding: 50px 60px;
    margin: 0;
  }
}

@media (min-width: 991px) {
  .hifi {
    padding: 50px 200px;
  }
}

.hifi h3 {
  text-align: center;
  border-top: 1px solid #7BABCA;
  margin: 50px auto 10px;
  max-width: 280px;
}

@media (min-width: 768px) {
  .hifi-title {
    grid-column: 1;
    grid-row: 1;
    max-width: 250px;
    line-height: 24px;
  }
}

.hifi-sum {
  margin: auto;
  padding: 30px 0;
}

.hifi1 {
  padding-bottom: 30px;
}

.hifi2 {
  padding-bottom: 30px;
}

.hifi3 {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .hifi-sum {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    padding: 0 0 30px;
    max-width: none;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .hifi-title1 {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .hifi1 {
    grid-column: 2;
    grid-row: 3;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .hifi-title2 {
    grid-column: 2;
    grid-row: 4;
  }
}

@media (min-width: 768px) {
  .hifi2 {
    grid-column: 2;
    grid-row: 5;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .hifi-title3 {
    grid-column: 2;
    grid-row: 6;
  }
}

@media (min-width: 768px) {
  .hifi3 {
    grid-column: 2;
    grid-row: 7;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .hf-insight {
    grid-column: 2;
    grid-row: 8;
  }
}

.hf-insight-copy p {
  padding-top: 20px;
}

.hf-image {
  padding: 30px 0;
}

.hifi1, .hifi2, .hifi3, {
  padding-bottom: 30px;
  padding-top: 10px;
}

@media (min-width: 768px) {
.hf-insight {
  padding-bottom: 30px;
  padding-top: 40px;
}
}



/* usability test intro */

.usa-intro {
  grid-template-columns: 1fr;
  column-gap: 20px;
  display: grid;
  padding: 25px 30px 25px;;
}

@media (min-width: 768px) {
  .usa-intro {
    grid-template-columns: 4fr 5fr;
    column-gap: 0;
    padding: 50px 60px;
  }
}

@media (min-width: 991px) {
  .usa-intro {
    padding: 50px 200px;
  }
}

@media (min-width: 768px) {
  .tasks {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .usa-copy2 {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (min-width: 768px) {
  .usa-finding1 {
    display: grid;
    grid-template-columns: 4fr 5fr
  }
}


.tasks {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
  padding: 20px 0;
  margin-left: 30px;
}

.usa-finding1 {
  padding-left: 30px;
  padding-right: 30px;
}


/* usability test 1 */

.usa-finding1 {
  padding: 25px 30px;
}

.usa-image1 {
  max-width: 50%;
  margin: auto;
  padding-top: 20px;
}

@media (min-width: 768px){
.usa-finding1 {
  display: grid;
  grid-template-columns: 4fr 5fr;
  padding: 30px 60px;
}
}

@media (min-width: 991px){
.usa-finding1 {
  padding-left: 200px;
  padding-right: 200px;
}
}

@media (min-width: 768px) {
.usa-image1 {
  grid-column: 2;
  grid-row: 2;
  max-width: 250px;
  padding-top: 30px;
}
}

@media (min-width: 991px) {
.usa-image1 {
  max-width: 300px;
}
}

@media (min-width: 768px){
.usa-copy3 {
  grid-column: 2;
  grid-row: 1;
}
}

.usa-copy3 p {
  padding-top: 20px;
}

/* usability test 2 */

.usa-finding2 {
  padding: 25px 30px;
}

@media (min-width: 768px){
.usa-finding2 {
  display: grid;
  grid-template-columns: 4fr 5fr;
  padding: 30px 60px 30px;
}
}

@media (min-width: 991px){
.usa-finding2 {
  padding-left: 200px;
  padding-right: 200px;
}
}


.usa-copy4 p {
  padding-top: 20px;
}


@media (min-width: 768px){
.usa-copy4 {
  grid-column: 2;
  grid-row: 1;
}
}

.usa-image2 {
  margin: auto;
  padding: 20px 0;
}

@media (min-width: 768px){
.usa-image2 {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
  padding-top: 30px;
  max-width: 550px;
}
}

/* usability test 3 */

.usa-finding3 {
  padding: 25px 30px;
}

@media (min-width: 768px){
.usa-finding3 {
  display: grid;
  grid-template-columns: 4fr 5fr;
  padding: 30px 60px 50px;
}
}

@media (min-width: 991px){
.usa-finding3 {
  padding-left: 200px;
  padding-right: 200px;
}
}

.usa-copy5 p {
  padding-top: 20px;
}

@media (min-width: 768px){
.usa-copy5 {
  grid-column: 2;
  grid-row: 1;
}
}

.usa-image3 {
  padding: 20px 0;
}

@media (min-width: 768px){
.usa-image3 {
  grid-column: 2;
  grid-row: 2;
  padding-top: 30px;
  max-width: 550px;
  margin: auto;
}
}

/* final mockup */

.mockup {
  padding: 30px 30px;
}

@media (min-width: 768px) {
  .mockup {
    grid-template-columns: 4fr 5fr;
    display: grid;
    padding: 50px 60px;
  }
}

@media (min-width: 991px) {
  .mockup {
    padding: 50px 200px;
  }
}

@media (min-width: 768px) {
  .final-title {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (min-width: 768px) {
  .final-sum {
    grid-column: 2;
    grid-row: 1;
  }
}

@media (min-width: 768px) {
  .m-button {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
  }
}


.final-screens h7 {
  color: white;
  background-color: #7BABCA;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 40px;
  font-weight: 600;
}

.final-screens h7:hover {
  border: 1px solid #7BABCA;
  color: #7BABCA;
  background-color: white;
}

.m-button {
  text-align: center;
}

.mockup h7 {
  color: white;
  background-color: #7BABCA;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 40px;
  font-weight: 600;
}

.mockup h7:hover {
  border: 1px solid #7BABCA;
  color: #7BABCA;
  background-color: white;
}

.m-button {
  text-align: center;
}

.final-img {
  padding-bottom: 30px;
}

@media (min-width: 768px){
.final-img {
  padding-bottom: 50px;
}
}

/* conclusion */

.conclusion {
  margin: 60px 30px 0;
}

@media (min-width: 768px) {
  .conclusion {
    grid-template-columns: 4fr 5fr;
    margin: 30px 60px;
    display: grid;
  }
}

@media (min-width: 991px) {
  .conclusion {
    margin-left: 200px;
    margin-right: 200px;
  }
}

.conc-title {
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
}

@media (min-width: 768px) {
.conc-title {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }
}

.conc-one {
  grid-column: 1;
  grid-row: 2;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
.conc-one {
    grid-column: 2;
    grid-row: 1;
  }
}

.conc-two {
  grid-column: 1;
  grid-row: 3;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
.conc-two {
    grid-column: 2;
    grid-row: 2;
  }
}

.thanks {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.thanks h7 {
  border: 1px solid #7BABCA;
  color: #7BABCA;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 40px 0 40px;
  font-weight: 600;
}

.thanks h7:hover {
  color: white;
  background-color: #7BABCA;
}


.thanks a {
  text-decoration: none;
}

/* remove this when next project is added */
.thanks h7 {
  display: none;
}

/* connect */

footer {
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connect {
  display: block;
  align-items: center;
  border-top: 1px solid #7BABCA;
  padding-top: 50px;
}

.connect h3 {
  color: #008583;
}

.connect h7 {
  color: #7BABCA;
  margin: 0 auto 10px;
  width: 190px;
  z-index: 1;
}

.connect a {
  text-decoration: none;
}

.connect h7:hover {
  color: #008583;
  border-bottom: 2px solid #008583;
}

.social {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.social a{
  text-decoration: none;
}

.social i {
  padding: 10px 0 0;
  margin: 0 20px 40px;
  color: inherit;
  display: block;
  position: relative;
  color: #7BABCA;
  transform: scale(2);
}

.social i:hover {
  color: #008583;
  border-bottom: 2px solid #008583;
}

.copy p {
  font-size: 14px;
  color: #7BABCA;
  padding-top: 30px;
}
