html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 61px;
  color: #501EA2;
  letter-spacing: 3px;
  line-height: 1.5;
}

h2 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #501EA2;
  letter-spacing: 2px;
}

/* process section */
h3 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 39px;
  color: black;
  letter-spacing: 0.5px;
}

/* section header */
h4 {
  font-family: 'Sansita', sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 2;
  text-decoration: none;
  color: #501EA2;
}

/* survey highlights */
h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 39px;
  text-decoration: none;
  color: #9C6262;
  font-weight: 300;
}

/* captions */
h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #9C6262;
}

/* links */
h7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
  color: #9C6262;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 1.04%;
}

/* hero and navbar */

.nav-intro {
  display: grid;
  grid-template-areas:
  "logo"
  "nav-pages"
  "hero-image"
  "matter-summary";
}

.logo img {
  grid-area: container;
}

/* .hero-image img {
  object-fit: cover;
} */

@media {
  .nav-intro {
    grid-template-columns: 5fr 7fr;
    column-gap: 20px;
  }
}

@media {
.logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding: 38px 0 0 30px;
    z-index: 1;
  }
}

@media {
.nav-pages {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    text-align: right;
    padding: 50px 30px 0px 0;
    z-index: 1;
  }
}

@media {
.hero-image {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    padding:100% 50% 50%;
    background-image: url(../assets/matter-hero-image.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media {
.matter-summary {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    padding: 10px 30px 0;
    background-color: #FBF8F5;
  }
}

@media {
.intro-bg {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }
}

.nav-pages li {
  display: inline;
  margin-left: 10%;
}

.nav-pages li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #9C6262;
}

.pro-link {
  max-width: 500px;
  margin: auto;
  justify-self: center;
  align-self: center;
}

/* button */
.matter-summary h7 {
  border: 1px solid #9C6262;
  color: #9C6262;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 30px 0 30px;
}

.pro-link {
  text-align: center;
}

.matter-summary p {
  padding-top: 10px;
}

/* problem solution */
.probsol {
  display: grid;
  grid-template-areas:
  "problem"
  "solution";
}
@media {
  .probsol {
    grid-template-columns: 1fr;
    column-gap: 20px;
    margin: 20px 0 50px;
    padding: 25px 30px 25px;
    background-color: #FBF8F5;
    width: 100%;
  }
}

@media {
.problem {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.solution {
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
    align-self: right;
    padding-top: 30px;
  }
}

.probsol h4 {
  text-align: center;
}

.probsol p {
  padding-top: 10px;
}

.research-title {
  text-align: center;
  border-top: 1px solid #FA7A72;
  margin: auto;
  max-width: 200px;
}

/* competitive analysis */
.comp-analysis {
  margin: 50px 30px 0;
  display: grid;
  grid-template-areas:
  "comp-one"
  "comp-two";
}

@media {
  .comp-analysis {
    grid-template-columns: 1fr 1fr 1fr 9fr;
    column-gap: 20px;
  }
}

@media {
.comp-title {
    grid-column: 1 / span 4;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.comp-one {
    grid-column: 1 / span 4;
    grid-row: 2;
    justify-self: left;
    align-self: left;
    padding-top: 10px;
  }
}

@media {
.comp-two {
    grid-column: 1 / span 4;
    grid-row: 4;
    justify-self: right;
    align-self: right;
    padding-top: 30px;
  }
}

@media {
.comp-gd {
    grid-column: 1;
    grid-row: 3;
    padding-top: 30px;
  }
}

@media {
.comp-db {
    grid-column: 2;
    grid-row: 3;
    padding-top: 30px;
  }
}

@media {
.comp-en {
    grid-column: 3;
    grid-row: 3;
    padding-top: 30px;
  }
}

/* surveys */
.surveys {
  margin-top: 50px;
  padding: 25px 30px 25px;
  background-color: #FBF8F5;
  display: grid;
  grid-template-areas:
  "title"
  "survey-one"
  "survey-two"
  "survey-three";
}

@media {
  .surveys {
    grid-template-columns: 1;
    column-gap: 20px;
  }
}

@media {
.title {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.survey-one {
    grid-column: 1;
    grid-row: 2;
    justify-self: left;
    align-self: left;
    margin: 10px 0 0;
  }
}

@media {
.survey-two {
    grid-column: 1;
    grid-row: 3;
    justify-self: right;
    align-self: right;
    margin: 30px 0 0;
  }
}

@media {
.survey-three {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
    align-self: center;
    margin: 30px 0 0;
  }
}

.surveys p {
  padding-top: 5px;
}

/* user personas */
.persona-avatar img {
  grid-area: container;
  width: 100%;
}

.personas {
  display: grid;
}

@media {
  .personas {
    grid-template-columns: 1fr 5fr 5fr 1fr;
    column-gap: 20px;
    margin: 25px 30px 50px;
  }
}

@media {
.title {
    grid-column: 1 / span 4;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.summary {
    grid-column: 1 / span 4;
    grid-row: 2;
    justify-self: left;
    align-self: left;
    padding-top: 10px;
  }
}

@media {
.persona-one {
    grid-column: 2 / span 2;
    grid-row: 3;
    justify-self: left;
    align-self: left;
    text-align: center;
    margin-top: 20px;
    background-color: #E6D2CF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
  }
}

@media {
.persona-two {
    grid-column: 2 / span 2;
    grid-row: 4;
    justify-self: center
    align-self: center;
    text-align: center;
    margin-top: 20px;
    background-color: #E6D2CF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
  }
}

@media {
.persona-three {
    grid-column: 2 / span 2;
    grid-row: 5;
    justify-self: right;
    align-self: right;
    text-align: center;
    margin-top: 20px;
    background-color: #E6D2CF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
  }
}

@media {
.persona-findings {
    grid-column: 1 / span 4;
    grid-row: 6;
    padding-top: 30px;
  }
}

.persona-name, .persona-quote {
  padding: 5px 7px 0;
}

.persona-name {
  font-weight: 600;
}

.persona-quote {
  padding-bottom: 15px;
  font-style: italic;
}

.info-arch {
  text-align: center;
  border-top: 1px solid #FA7A72;
  margin: 50px auto 50px;
  max-width: 300px;
}

/* user flows */

.flows{
  display: grid;
}

@media {
  .flows {
    grid-template-columns: 1fr;
    column-gap: 20px;
    margin: 50px 30px 25px;
  }
}

@media {
.flow-image {
    grid-column: 1;
    grid-row: 2;
    justify-self: left;
    align-self: left;
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
}

@media {
.flow-copy {
  grid-column: 1;
  grid-row: 1;
  }
}

.flow-summary {
  margin-top: 10px;
}

.flow-link h7 {
  border: 1px solid #9C6262;
  color: #9C6262;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 40px 0 0;
}

.flow-link {
  text-align: center;
}

/* wireframe intro */
.lofi {
  background-color: #FBF8F5;
}

.wf-copy {
    margin: 50px 0 30px;
}

.wf-title {
    padding: 30px 30px 0 30px;
    max-width: 600px;
}

.wf-summary {
    padding-top: 10px;
    margin: 0 30px;
    max-width: 600px;
}

.wireframes {
    grid-column: 1 / span 4;
    grid-row: 3;
    padding-top: 30px;
}

/* wireframe iterations */
.wf-iterations {
  display: grid;
  grid-template-areas;
}

@media {
  .wf-iterations {
    grid-template-columns: 1fr;
    column-gap: 20px;
    padding: 0 30px 30px;
  }
}

@media {
.wf-finding {
    grid-column: 1;
    grid-row: 1;
  }
}

@media {
.wf-one {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    padding-top: 10px;
  }
}

@media {
.wf-one-cap {
    grid-column: 1;
    grid-row: 3;
    justify-self: right;
    align-self: right;
    padding: 0 25px 0 0;
    text-align: right;
  }
}

@media {
.wf-two {
    grid-column: 1;
    grid-row: 4;
    justify-self: right;
    align-self: end;
    padding-top: 10px;
  }
}

@media {
.wf-two-cap {
    grid-column: 1;
    grid-row: 5;
    justify-self: right;
    align-self: right;
    padding: 0 25px 0 0;
    text-align: right;
  }
}

 /* branding title */
.branding-title {
  text-align: center;
  border-top: 1px solid #FA7A72;
  margin: 50px auto 0;
  max-width: 200px;
}

.branding-sum {
  padding-top: 20px;
  margin: 0 30px;
  text-align: center;
}

/* brainstorm */
.brainstorming {
  display: grid;
  grid-template-areas:
  "mm-image"
  "mindmap-copy"
}

@media {
  .brainstorming {
    grid-template-columns: 1fr;
    column-gap: 20px;
    margin: 30px 0 25px;
  }
}

@media {
.mm-image {
    grid-column: 1;
    grid-row: 1;
  }
}

@media {
.mindmap-copy {
    grid-column: 1;
    grid-row: 2;
    margin: 0 30px;
  }
}

.mindmap-copy p {
  padding-top: 10px;
}

/* logo */
/* .logo-sketches {
  background-image: url(../assets/logo-sketches.png);
  background-size: contain;
} */

.logo-sketches {
  display: grid;
  grid-template-areas:
  "logo-copy"
  "sketch-image";
}

@media {
  .logo-sketches {
    grid-template-columns: 1fr;
    column-gap: 20px;
    padding-top: 25px;
    background-color: #FBF8F5;
  }
}

@media {
.logo-copy {
    grid-column: 1;
    grid-row: 1;
    padding: 0 30px;
  }
}

@media {
.sketch-image {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: left;
    align-self: left;
    margin-top: 30px;
  }
}

.logo-copy p {
  padding-top: 10px;
}

.logo-dev {
  display: grid;
  grid-template-areas:
  "logo-one"
  "logo-two"
  "logo-three"
  "final-logo";
}

@media {
  .logo-dev {
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    column-gap: 20px;
    padding: 30px 30px 25px;
    background-color: #FBF8F5;
  }
}

@media {
.logo-one {
    grid-column: 2;
    grid-row: 2;
    justify-self: left;
    align-self: left;
  }
}

@media {
.logo-two {
    grid-column: 3;
    grid-row: 2;
    justify-self: left;
    align-self: left;
  }
}

@media {
.logo-three {
    grid-column: 4;
    grid-row: 2;
    justify-self: left;
    align-self: left;
  }
}

@media {
.logo-text {
    grid-column: 1 / span 5;
    grid-row: 1;
    padding-bottom: 30px;
  }
}


@media {
.final-logo {
    grid-column: 1 / span 4;
    grid-row: 3;
    padding-top: 30px;
  }
}

/* color */
.color {
  display: grid;
  grid-template-areas:
  "color-copy"
  "color-swatches";
}

@media {
  .color {
    grid-template-columns: 1fr;
    column-gap: 20px;
    padding: 25px 30px 25px;
  }
}

@media {
.color-copy {
    grid-column: 1;
    grid-row: 1;
  }
}

@media {
.color-swatches {
    grid-column: 1;
    grid-row: 2;
    padding-top: 30px;
  }
}

.color-copy p {
  margin: 10px 0 20px;
}


/* type */
.type {
  display: grid;
  grid-template-areas:
  "type-copy"
  "brand-typeface"
  "supplementay-typeface";
}

@media {
  .type {
    grid-template-columns: 1fr;
    column-gap: 20px;
    padding: 25px 30px 25px;
    background-color: #FBF8F5;
  }
}

@media {
.type-copy {
    grid-column: 1;
    grid-row: 1;
  }
}

@media {
.brand-typeface {
    grid-column: 1;
    grid-row: 2;
    padding-top: 15px;
  }
}

@media {
.supplementary-typeface {
    grid-column: 1;
    grid-row: 3;
    padding-top: 10px;
  }
}

.type-copy p {
  padding-top: 10px;
}

.typeface-name {
  font-size: 24;
  color: #9C6262;
}

.brand-typeface .type-sample {
  line-height: 1.3em;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1.0px;
}

.supplementary-typeface .type-sample {
  line-height: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1.0px;
}

/* high fidelity mockups */
.hifi h3 {
  text-align: center;
  border-top: 1px solid #FA7A72;
  margin: 50px auto 10px;
  max-width: 250px;
}

.hifi p {
  text-align: center;
  justify-content: center;
  align-self: center;
  margin : auto;
  max-width: 600px;
  margin: 0 30px 30px;
}

.pref-intro {
  margin: 30px 30px 0;
  max-width: 600px;
}

.pref-intro p {
  padding-top: 10px;
}

.test-num {
  font-weight: 600;
  line-height: 1em;
  margin-top: 30px;
}

.test-name {
  font-size: 14px;
  font-weight: 600;
  color: #9C6262;
  line-height: 1em;
  padding-bottom: 10px;
}

.pref-tests {
  display: grid;
}

@media {
  .pref-tests {
    grid-template-columns: 6fr 6fr;
    column-gap: 20px;
    padding: 0 30px 30px;
  }
}

/* pref test 1 */

@media {
.title-info {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
    padding-top: 10px;
    align-content: center;
    text-align: center;
  }
}

@media {
.test-img1 {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
  }
}

@media {
.test-img2 {
    grid-column: 2;
    grid-row: 2;
  }
}

@media {
.test-result {
    grid-column: 1 / span 2;
    grid-row: 3;
    justify-self: left;
    align-self: left;
    text-align: center;
  }
}

/* pref test 2 */

@media {
.title-info2 {
    grid-column: 1 / span 2;
    grid-row: 4;
    text-align: center;
    align-content: center;
  }
}

@media {
.test2-img1 {
    grid-column: 1;
    grid-row: 5;
    align-self: end;
  }
}

@media {
.test2-img2 {
    grid-column: 2;
    grid-row: 5;
  }
}

@media {
.test2-result {
    grid-column: 1 / span 2;
    grid-row: 6;
    justify-self: left;
    align-self: left;
    text-align: center;
  }
}

/* test 3 */

@media {
.title-info3 {
    grid-column: 1 / span 2;
    grid-row: 7;
    text-align: center;
    align-content: center;
    text-align: center;
  }
}

@media {
.test3-img1 {
    grid-column: 1;
    grid-row: 8;
    align-self: end;
    margin: auto;
  }
}

@media {
.test3-img2 {
    grid-column: 2;
    grid-row: 8;
    padding-top: 7px;
    margin: auto;
  }
}

@media {
.test3-result {
    grid-column: 1 / span 2;
    grid-row: 9;
    justify-self: left;
    align-self: left;
    text-align: center;
  }
}

.title-info2 {
  padding-top: 20px;
}

.title-info3 {
  padding-top: 20px;
}

/* usability test 1 */
.usa-one {
  display: grid;
}

@media {
  .usa-one {
    grid-template-columns: 8fr 4fr;
    column-gap: 20px;
    padding: 25px 30px 0;
    background-color: #FBF8F5;
  }
}

@media {
.usa-intro {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}

.usa-into p {
  padding-top: 10px;
}

@media {
.first-it {
    grid-column: 1 / span 2;
    grid-row: 3;
    align-content: center;
    margin-top: 10px;
  }
}

@media {
.cap-one {
    grid-column: 1 / span 2;
    grid-row: 4;
    align-content: center;
    text-align: right;
    margin-right: 5%;
  }
}

@media {
.second-it {
    grid-column: 1 / span 2;
    grid-row: 5;
    padding-top: 20px;
    align-self: end;
  }
}

@media {
.cap-two {
    grid-column: 1 / span 2;
    grid-row: 6;
    text-align: right;
    margin-right: 5%;
  }
}

@media {
.finding1-copy {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-top: 30px;
  }
}

/* usability test 2 */

.usa-two {
  display: grid;
  grid-template-areas:
  "finding2-copy"
  "cap-three"
  "second-it2";
}

@media {
  .usa-two {
    grid-template-columns: 4fr 8fr;
    column-gap: 20px;
    padding: 30px 30px 25px;
    background-color: #FBF8F5;
  }
}

@media {
.finding2-copy {
    grid-column: 1 / span 2;
    grid-row: 1;
    align-content: center;
    margin: auto;
  }
}

@media {
.cap-three {
    grid-column: 1;
    grid-row: 3;
    align-self: start;
    text-align: right;
    padding-bottom: 40%;
  }
}

@media {
.second-it2 {
    grid-column: 2;
    grid-row: 2 / span 2;
    align-content: center;
  }
}

/* final mockup */

.mockup {
  padding: 0 30px;
}

.mockup h3 {
  text-align: center;
  border-top: 1px solid #FA7A72;
  margin: 50px auto 20px;
  max-width: 300px;
}

.mockup p {
  text-align: center;
}

.desktop {
  margin: 30px 30px 0;
}

.desktop img {
  max-width: 30%;
  height: auto;
}

.mobile {
  background-color: #FBF8F5;
  padding: 25px 30px 0;
}

.mobile img {
  max-width: 15%;
  height: auto;
}


.desktop h7 {
  border: 1px solid #9C6262;
  color: #9C6262;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 40px 0 40px;
}

.d-button {
  text-align: center;
}

.mobile h7 {
  border: 1px solid #9C6262;
  color: #9C6262;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 40px 0 40px;
}

.m-button {
  text-align: center;
}

/* conclusion */
.conclusion {
  margin: 50px 30px 0;
  display: grid;
  grid-template-areas:
  "conc-title"
  "conc-one"
  "conc-two"
}

@media {
  .conclusion {
    grid-template-columns: 1;
    column-gap: 50px;
  }
}

@media {
.conc-title {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    border-top: 1px solid #FA7A72;
    margin: 0 auto 30px;
    max-width: 300px;
  }
}


@media {
.conc-one {
    grid-column: 1;
    grid-row: 2;
    padding-bottom: 30px;
  }
}

@media {
.conc-two {
    grid-column: 1;
    grid-row: 3;
    padding-bottom: 30px;
  }
}

@media {
.conc-three {
    grid-column: 1;
    grid-row: 4;
  }
}

.hl-conc {

}

.thanks {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.thanks h7 {
  border: 1px solid #9C6262;
  color: #9C6262;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 40px 0 40px;
}

.thanks a {
  text-decoration: none;
}

/* connect */

footer {
 height: 400px;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.connect {
  display: block;
  align-items: center;
  border-top: 1px solid #FA7A72;
  padding-top: 100px;
}

.connect h3 {
  color: #501EA2;
}

.connect a {
  text-decoration: none;
}

.connect p {
 text-decoration: none;
 color: #9C6262;
 display: flex;
 justify-content: center;
}

.social {
   display: flex;
   justify-content: center;
}

.social img {
  padding-left: 25px;
}
