html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 61px;
  color: #008583;
  letter-spacing: 3px;
  line-height: 1.5;
}

h2 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 39px;
  color: #3F779D;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 39px;
  color: #008583;
  letter-spacing: 0.5px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #7BABCA;
}

h5 {
  font-family: 'Sansita', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 2;
  text-decoration: none;
  color: #008583;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.04%;
  font-weight: bold;
  color: white;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.04%;
}

/* background pattern */
.background-pattern {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .background-pattern {
    left: 50%;
    margin-left: -512px;
  }
}

.nav-intro {
  display: grid;
}

.logo img {
  grid-area: container;
}

.hero-image img {
  grid-area: container;
}

.nav-intro {
  grid-template-columns: 5fr 7fr;
  column-gap: 20px;
}

@media (min-width: 768px) {
  .nav-intro {
    grid-template-columns: 1fr 5fr 5fr 1fr;
  }
}

.logo {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin: 40px 0 0 30px;
  z-index: 1;
}

@media (min-width: 768px) {
  .logo {
    grid-column: 1 / span 4;
    padding-left: 60px;
    margin-left: 0;
  }
}

@media (min-width: 991px) {
  .logo {
    grid-column: 1 / span 4;
    padding-left: 120px;
  }
}

.nav-pages {
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-self: right;
  align-self: right;
  text-align: right;
  margin: 40px 30px 0px 0;
  z-index: 1;
  width: 250px;
}

@media (min-width: 768px) {
  .nav-pages {
    grid-column: 1 / span 4;
    padding-right: 30px;
    width: 400px;
  }
}

@media (min-width: 991px) {
  .nav-pages {
    grid-column: 1 / span 4;
    align-self: start;
    width: 400px;
    padding-right: 90px;
  }
}

@media (min-width: 376px) {
.nav-pages li {
  display: inline;
  margin-left: 10%;
  padding-bottom: 0;
}
}

@media (max-width: 375px) {
  .nav-pages li {
    display: block;
    padding-bottom: 5%;
  }
}

.nav-pages li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #7BABCA;
  font-weight: 600;
}

.nav-pages li a:hover {
  color: #008583;
  border-bottom: 2px solid #008583;
}

@media (min-width: 768px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 0px 60px 30px;
    column-gap: 20px;
  }
}

@media (min-width: 991px) {
  .intro {
    margin: 30px 150px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1025px) {
  .intro {
    margin: 0px 300px 30px;
  }
}

.hero-mobile {
  padding-top: 50px;
  z-index: 1;
  margin: auto;
}

@media (min-width: 768px) {
  .hero-mobile {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    max-width: 250px;
    padding: 0;
    padding-right: 15px;

  }
}

.intro-text {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding: 30px 30px 50px;
  z-index: 1;
  text-align: center;
}

/* @media (min-width: 768px) {
  .hero-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-desk {
    display: none;
  }
} */

@media (min-width: 768px) {
  .intro-text {
    grid-column: 2;
    grid-row: 1;
    padding-top: 50px;
    padding: 50px 0 0;
    text-align: left;
  }
}

.intro-text p {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .intro-text p {
    padding-top: 20px;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 10px auto;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 60px;
    column-gap: 20px;
  }
}

@media (min-width: 991px) {
  .projects {
    margin: 60px 150px 50px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

@media (min-width: 1025px) {
  .projects {
    margin: 30px 300px 50px;
  }
}

/* project intro */
.project-block {
  grid-row: 1;
  grid-column: 1;
  width: 300px;
  padding: 20px 30px;
  margin: auto;
  justify-self: center;
  align-self: center;
}

@media (min-width: 768px) {
   .project-block {
     padding: 10px 0 0;
     margin: 0px;
   }
 }

figure.project-effect img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

/* figure.prep-on-effect:hover img {
	opacity: 0.5;
} */

figure.project-effect figcaption {
	padding: 3em 1em 3em 1em;

}

figure.project-effect figcaption::before {
  width: 400px;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  z-index: 1;
}

figure.project-effect figcaption::before {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.project-effect h3 {
  padding-top: 15px;
  color: #565656;
  text-align: left;
}

figure.project-effect p {
	margin: auto;
	max-width: 400px;
  padding-top: 20px;
  color: #565656;
  text-align: left;
}


@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.project figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

.project-effect {
grid-template-columns: 1fr;
display: grid;
}

#project-image {
  grid-column: 1;
  grid-row: 1;
}

figure.project-effect figcaption {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

/* matter project */
.matter-block {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 1;
}

.matter-block {
  grid-column: 1;
  grid-row: 2;
  padding: 10px 30px 20px;
  width: 300px;
}

@media (min-width: 768px) {
  .matter-block {
		grid-column: 1;
		grid-row: 2;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0;
    align-self: start;
  }
}

figure.matter-effect img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.matter-effect:hover img {
	opacity: 0.5;
}

figure.matter-effect figcaption {
	padding: 3em;
}

figure.matter-effect figcaption::before {
  width: 400px;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  z-index: 1;
}

figure.matter-effect figcaption::before{
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.matter-effect h3 {
	padding: 10px 0 20px 0;
}

figure.matter-effect p {
	margin: 0 auto;
	max-width: 200px;
}

figure.matter-effect:hover figcaption::before,
figure.matter-effect:hover p, figure.matter-effect:hover h3 {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.matter-effect:hover figcaption {
	padding: 3em;
	border: 2px solid white;
  background-color: #B8CEDB;
  }
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}

	.matter-block figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

.matter-effect {
grid-template-columns: 1fr;
display: grid;
}

#matter-image {
  grid-column: 1;
  grid-row: 1;
}

figure.matter-effect figcaption {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

/* prep project */

.prep-block {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 1;
  justify-self: center;
  align-self: center;
}

.prep-block {
  grid-column: 1;
  grid-row: 1;
  padding: 10px 30px 20px;
  width: 300px;
}

@media (min-width: 768px) {
  .prep-block {
		grid-column: 2;
		grid-row: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0;
  }
}

figure.prep-effect img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.prep-effect:hover img {
	opacity: 0.5;
}

figure.prep-effect figcaption {
	padding: 3em;
}

figure.prep-effect figcaption::before {
  width: 400px;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  z-index: 1;
}

figure.prep-effect figcaption::before{
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.prep-effect h3 {
	padding: 10px 0 20px 0;
}

figure.prep-effect p {
	margin: 0 auto;
	max-width: 200px;
}

figure.prep-effect:hover figcaption::before,
figure.prep-effect:hover p, figure.prep-effect:hover h3 {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.prep-effect:hover figcaption {
	padding: 2em;
	border: 2px solid white;
  background-color: #B8DBCC;
  }
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.prep-block figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

.prep-effect {
grid-template-columns: 1fr;
display: grid;
}

#prep-image {
  grid-column: 1;
  grid-row: 1;
}

figure.prep-effect figcaption {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

/* prep onboarding project */

.prep-on-block {
  grid-column: 1;
  grid-row: 4;
  justify-self: center;
  align-self: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 1;
  justify-self: center;
}

.prep-on-block {
  grid-column: 1;
  grid-row: 4;
  padding: 10px 30px 20px;
  width:   340px;
}

@media (min-width: 768px) {
  .prep-on-block {
		grid-column: 2;
		grid-row: 2;
    padding: 5px 0 0;
    margin-right: 3px;
    align-self: start;
  }
}

figure.prep-on-effect img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*
figure.prep-on-effect:hover img {
	opacity: 0.5;
} */

figure.prep-on-effect figcaption {
	padding: 3em;
}

figure.prep-on-effect figcaption::before {
  width: 400px;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  z-index: 1;
}

figure.prep-on-effect figcaption::before{
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.prep-on-effect h3 {
	padding: 10px 0 20px 0;
}

figure.prep-on-effect p {
	margin: 0 auto;
	max-width: 200px;
}

/* figure.prep-on-effect:hover figcaption::before,
figure.prep-on-effect:hover p, figure.prep-on-effect:hover h3 {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
} */

/* figure.prep-on-effect:hover figcaption {
	padding: 2em;
	border: 2px solid white;
  background-color: #B8DBCC;
  }
} */

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.prep-on-block figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

.prep-on-effect {
grid-template-columns: 1fr;
display: grid;
}

#prep-on-image {
  grid-column: 1;
  grid-row: 1;
}

figure.prep-on-effect figcaption {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.projects a{
  text-decoration: none;
}

.projects h3 {
  color: white;
  text-align: center;
}

.projects p {
  color: white;
  text-align: center;
  font-weight: 600;
}

.matter-copy a {
  text-decoration: none;
}

.matter-copy h4 {
  color: black;
  background-color: #3F779D;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 15px 0 15px;
}

.matter-copy h4:hover {
  border: 1px solid #3F779D;
  color: #3F779D;
  background-color: black;
}

.project2-copy a {
  text-decoration: none;
}

.project2-copy h4 {
  color: black;
  background-color: #3F779D;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 15px 0 15px;
  z-index: 1;
}

.project2-copy h4:hover {
  border: 1px solid #3F779D;
  color: #3F779D;
  background-color: white;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.connect {
  border-top: 1px solid #7BABCA;
  display: block;
  align-items: center;
  padding-top: 40px;
  z-index: 1;
}

.connect h4 {
    margin: 0 auto 10px;
    width: 190px;
    z-index: 1;
}

.connect a {
  text-decoration: none;
}

.connect h4:hover {
  color: #008583;
  border-bottom: 2px solid #008583;
}


.social {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.social a{
  text-decoration: none;
}

.social i {
  margin: 10px 20px 40px ;
  color: inherit;
  display: block;
  position: relative;
  color: #3F779D;
  transform: scale(2);
}

.social i:hover {
  color: #008583;
  border-bottom: 2px solid #008583;
}

.copy p {
  font-size: 14px;
  color: #7BABCA;
  padding-top: 30px;
}
