html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 61px;
  color: #008583;
  letter-spacing: 3px;
  line-height: 1.5;
}

h2 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 39px;
  color: #3F779D;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 39px;
  color: #008583;
  letter-spacing: 0.5px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #7BABCA;
}

h5 {
  font-family: 'Sansita', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 2;
  text-decoration: none;
  color: #008583;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.04%;
  font-weight: bold;
  color: white;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.04%;
  color: #565656;
  font-weight: 600;
}

/* background pattern */
.background-pattern {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .background-pattern {
    left: 50%;
    margin-left: -512px;
  }
}

.nav-intro {
  display: grid;
}

.logo img {
  grid-area: container;
}

.hero-image img {
  grid-area: container;
}

.nav-intro {
  grid-template-columns: 5fr 7fr;
  column-gap: 20px;
}

@media (min-width: 768px) {
  .nav-intro {
    grid-template-columns: 1fr 5fr 5fr 1fr;
  }
}

.logo {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin: 40px 0 0 30px;
  z-index: 1;
}

@media (min-width: 768px) {
  .logo {
    grid-column: 1 / span 4;
    padding-left: 60px;
    margin-left: 0;
  }
}

@media (min-width: 991px) {
  .logo {
    grid-column: 1 / span 4;
    padding-left: 120px;
  }
}

.nav-pages {
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-self: right;
  align-self: right;
  text-align: right;
  margin: 40px 30px 0px 0;
  z-index: 1;
  width: 250px;
}

@media (min-width: 768px) {
  .nav-pages {
    grid-column: 1 / span 4;
    padding-right: 30px;
    width: 400px;
  }
}

@media (min-width: 991px) {
  .nav-pages {
    grid-column: 1 / span 4;
    align-self: start;
    width: 400px;
    padding-right: 90px;
  }
}

@media (min-width: 376px) {
.nav-pages li {
  display: inline;
  margin-left: 10%;
  padding-bottom: 0;
}
}

@media (max-width: 375px) {
  .nav-pages li {
    display: block;
    padding-bottom: 5%;
  }
}

.nav-pages li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #7BABCA;
  font-weight: 600;
}

.nav-pages li a:hover {
  color: #008583;
  border-bottom: 2px solid #008583;
}

@media (min-width: 768px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 0px 60px 30px;
    column-gap: 20px;
  }
}

@media (min-width: 991px) {
  .intro {
    margin: 30px 150px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1025px) {
  .intro {
    margin: 0px 300px 30px;
  }
}

.hero-mobile {
  padding-top: 50px;
  z-index: 1;
  margin: auto;
}

@media (min-width: 768px) {
  .hero-mobile {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    max-width: 250px;
    padding: 0;
    padding-right: 15px;

  }
}

.intro-text {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding: 30px 30px 50px;
  z-index: 1;
  text-align: center;
}

/* @media (min-width: 768px) {
  .hero-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-desk {
    display: none;
  }
} */

@media (min-width: 768px) {
  .intro-text {
    grid-column: 2;
    grid-row: 1;
    padding-top: 50px;
    padding: 50px 0 0;
    text-align: left;
  }
}

.intro-text p {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .intro-text p {
    padding-top: 20px;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-top: 10px auto;
  padding: 0 30px 0px;
}

@media (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px 60px 0;
    grid-gap: 30px;
    padding: 0px;
  }
}

@media (min-width: 991px) {
  .projects {
    margin: 60px 150px 50px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

@media (min-width: 1025px) {
  .projects {
    margin: 30px 300px 30px;
  }
}

/* project intro */

.project-block {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .project-block {
		grid-column: 1;
		grid-row: 1;
    padding: 0px 0 0;
  }
}

@media (min-width: 991px) {
  .project-block {
  }
}

.project-effect {
  z-index: 1;
  align-self: center;
  width: 300px;
  margin: auto;
}

figure.project-effect h3 {
  color: #565656;
  padding-bottom: 10px;
}

figure.project-effect p {
  color: #565656;
}

/* matter project */
.matter-block {
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  background-image: url('../assets/matter-home.svg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .matter-block {
		grid-column: 1;
		grid-row: 2;
    padding: 0px 0 0;
    align-self: center;
    justify-self: center;
  }
}

.matter-block:hover {
  background: #B8CEDB;
}


.matter-effect {
  z-index: 1;
  align-self: center;
  width: 200px;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (min-width: 768px){
.matter-effect {
  z-index: 1;
  align-self: center;
  width: 200px;
  margin: auto;
  padding-top: 100px;
}
}

/* prep project */

.prep-block {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  background-image: url('../assets/prep-home.svg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .prep-block {
		grid-column: 2;
		grid-row: 1;
    align-self: center;
  }
}

.prep-block:hover {
  background: #B8DBCC;
}

.prep-effect {
  z-index: 1;
  align-self: center;
  width: 200px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 768px){
.prep-effect {
  z-index: 1;
  align-self: center;
  width: 200px;
  margin: auto;
  padding-top: 100px;
}
}


/* prep onboarding project */

.prep-on-block {
  grid-column: 1;
  grid-row: 4;
  z-index: 1;
  background-image: url('../assets/prep-on-home.svg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .prep-on-block {
		grid-column: 2;
		grid-row: 2;
  }
}

.prep-on-effect {
  z-index: 1;
  align-self: center;
  width: 200px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px){
.prep-on-effect {
  z-index: 1;
  align-self: center;
  width: 200px;
  margin: auto;
  padding-top: 100px;
}
}

.projects a{
  text-decoration: none;
}

.projects h3 {
  color: white;
  text-align: center;
}

.projects p {
  color: white;
  text-align: center;
  font-weight: 600;
}

.matter-copy a {
  text-decoration: none;
}

.matter-copy h4 {
  color: black;
  background-color: #3F779D;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 15px 0 15px;
}

.matter-copy h4:hover {
  border: 1px solid #3F779D;
  color: #3F779D;
  background-color: black;
}

.project2-copy a {
  text-decoration: none;
}

.project2-copy h4 {
  color: black;
  background-color: #3F779D;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin: 15px 0 15px;
  z-index: 1;
}

.project2-copy h4:hover {
  border: 1px solid #3F779D;
  color: #3F779D;
  background-color: white;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.connect {
  border-top: 1px solid #7BABCA;
  display: block;
  align-items: center;
  padding-top: 40px;
  z-index: 1;
}

.connect h4 {
    margin: 0 auto 10px;
    width: 190px;
    z-index: 1;
}

.connect a {
  text-decoration: none;
}

.connect h4:hover {
  color: #008583;
  border-bottom: 2px solid #008583;
}


.social {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.social a{
  text-decoration: none;
}

.social i {
  margin: 10px 20px 40px ;
  color: inherit;
  display: block;
  position: relative;
  color: #3F779D;
  transform: scale(2);
}

.social i:hover {
  color: #008583;
  border-bottom: 2px solid #008583;
}

.copy p {
  font-size: 14px;
  color: #7BABCA;
  padding-top: 30px;
}
