html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 61px;
  color: #008583;
  letter-spacing: 3px;
  line-height: 1.5;
}

h2 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #008583;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Sansita', sans-serif;
  font-weight: 900;
  font-size: 39px;
  color: #008583;
  letter-spacing: 0.5px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2;
  text-decoration: none;
  color: #7BABCA;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1.04%;
}

/* background pattern */
.background-pattern {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .background-pattern {
    left: 50%;
    margin-left: -512px;
  }
}

.nav-intro {
  display: grid;
  grid-template-areas:
  "logo"
  "nav-pages"
  "hero-image"
  "intro-text";
}

.logo img {
  grid-area: container;
}

.hero-image img {
  grid-area: container;
}

@media (min-width: 768px){
  .nav-intro {
    grid-template-columns: 5fr 7fr;
    grid-gap: 30px;
  }
}

@media {
.logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
    padding: 58px 0 0 120px;
  }
}

@media {
.nav-pages {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    text-align: right;
    padding: 90px 120px 0px 0;
  }
}

@media {
.hero-image {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: left;
  }
}

@media {
.intro-text {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    padding-left: 120px;
    padding-right: 120px;
  }
}
.nav-pages li {
  display: inline;
  margin-left: 10%;
}

.nav-pages li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #7BABCA;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.matter-background {
  grid-area: matter-background;
}

.matter-copy {
  grid-area: matter-copy;
}

.project2-background {
  grid-area: project2-background;
}

.project2-copy {
  grid-area: project2-copy;
}

@media {
  .matter-background {
		grid-column: 1;
		grid-row: 1;
  }
}

@media {
  .matter-copy {
    		grid-column: 1;
    		grid-row: 1;
    		justify-self: center;
    		align-self: center;
    		text-align: center;
    		padding: 20px;
  }
}

 @media {
   .project2-background {
     grid-column: 2;
     grid-row:1;
   }
 }

 @media {
   .project2-copy {
     		grid-column: 2;
     		grid-row: 1;
     		justify-self: center;
     		align-self: center;
     		text-align: center;
     		padding: 20px;
   }
 }

.projects p {
  padding-top: 4px;
}

 footer {
 	height: 400px;
 	text-align: center;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 }

 .connect {
   padding: 100px 25% 20px;
   border-top: 1px solid #FA7A72;
   display: block;
   align-items: center;
 }

.connect p {
  text-decoration: none;
  color: #7BABCA;
  display: flex;
  justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
}

 .social img {
   padding-left: 25px;
 }
